* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    margin-top: 15px;
}
.japan{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 15px;
    color: #800D0D;
    text-align: center;
}
.header_logo{
    margin: 0;
    padding: 0px, 10px;
    color: #800D0D;
    display: inline;
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline;
}
li{
    float: right;
}
li a{
    color: #800D0D;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}
li a:hover{
    /* background-color: #16215B; */
    background-color: #800D0D;
    color: white;
    border-radius: 5px;
}
.img{
    position: absolute;
    top: 302px;
    bottom: 0px;
}