@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url("../css/fonts/screen/ttf/Happiness-Sans-Title.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Regular';
    src: url("../css/fonts/screen/ttf/Happiness-Sans-Regular.ttf");
}

@font-face {
    font-family: '웰컴체 Bold';
    src: url("../css/welcome_font/웰컴체\ Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url("../css/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
 
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
 }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body{
    /*background: -webkit-radial-gradient(60% 60%, circle, yellow, #fff);*/
    -ms-overflow-style: none;
    }
    
   ::-webkit-scrollbar {
     display: none;
   }

/* header 부분 시작 */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.185);

}

.title a {
    font-weight: bold;
    position: absolute;
    left: 13%;
}

/* 슬라이드 바 시작*/
.sidebar input + label {
    margin-left: 85px;

}

input[id="menuicon"] {
    display: none;
    align-items: center;
}

input[id="menuicon"]+label {
    display: block;
    width: 35px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    left: 10%;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all .35s;

}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;

}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    

}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
    
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
   
    
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
    
}


input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);


}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"]:checked+label {
    z-index: 2;

}

input[id="menuicon"]:checked+label span {
    background: rgb(0, 0, 0);

}

input[id="menuicon"]:checked ~ .title > .title-logo > h1 {
    z-index: 10;
}
.sidebar h2 {
    text-align: center;
    margin-top: 50px;
}

div[class="sidebar"] {
    width: 370px;
    height: 100%;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 100px;
    left: -370px;
    z-index: 1000000;
    transition: all .35s;

}

input[id="menuicon"]:checked+label+div {
    left: 0;
}

.sidebar-item{
    margin-left: 5%;
}

.sidebar-item li a{
    text-decoration: none;
    color: white;
    font-family: 'Happiness-Sans-Title';
    line-height: 40px;
    padding: 0px 10px;
    position: relative;
}
.sidebar-item li a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;

}
.sidebar-item li a:hover:after{
    width: 100%;
   
}


.sidebar-item li a:hover{
    color: gray;

}

/* 슬라이드 바 끝 */

.title-logo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.title-logo:hover {
    cursor: pointer;

}
.title > .title-logo > .sidebar > h2 {
    color: white;
}
.title-login {
    display: flex;
    font-weight: bolder;
    font-size: 1.2rem;

}
.title-login a {
    transition: all .3s ease;
    padding: 0px 10px;
    border-radius: 10px;
    position: relative;
}
.title-login li a:after{
    content: "";
    position: absolute;
    background-color: #0151E5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;

}
.title-login li a:hover:after{
    width: 100%;
   
}

.title-login li {
    margin-left: 20px;
}


.title-login-sub {
    display: flex;
    align-items: center;
    gap: 15px;

}

.title-login-sub:hover {
    cursor: pointer;

}
.title-login-sub {
    display: flex;
    font-weight: bolder;
    font-size: 1.2rem;

}
.title-login-sub a {
    transition: all .3s ease;
    padding: 0px 10px;
    border-radius: 10px;
    position: relative;
}
.title-login-sub li a:after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;

}
.title-login-sub li a:hover:after{
    width: 100%;
   
}

.title-login-sub li {
    margin-left: 20px;
}
/* header 부분 끝 */
@keyframes font-slider {
    from {
        left: -280px;
        opacity: 0;
    }
    to {
        left: 8%;
        opacity: 1;
    }
    
}
@keyframes font-disapper {
    from {
        left: 8%;
        opacity: 1;
    }
    to {
        left: -280px;
        opacity: 0;
    }
}

#visual-container {
    height: 1000px;
    position: relative;
    background-image: url(../images/비행기.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1100px;
}

.visual-font {
    position: absolute;
    font-size: 5rem;
    top: 280px;
    left: 8%;
    color: black;
    font-family: 'DMSerifDisplay-Regular';
    animation: font-slider 1s;
}

.visual-font .map-button {
    font-family: 'Happiness-Sans-Title';
}


/* 버튼 디자인 시작 */
.map-button{
    color: rgba(0, 0, 0, 0.374);
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.7rem;
    font-weight: bolder;
    transition:all .5s ease-in;
    position: absolute;
    width: 260px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;

}
.map-button:hover {
    color: black;
    
    
}
.map-button span {
    display: block;
    position: absolute;
    background-color: #0151E5;
}
.map-button span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s;
    

}
.map-button:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .3s;
}


.map-button span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;

}
.map-button:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s;
}


.map-button span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s;
    transition-delay: .3s;


}
.map-button:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .3s;
    transition-delay: .3s;

}


.map-button span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
    transition-delay: .3s;

}
.map-button:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s;
    transition-delay: .3s;

}
.more{
    color: rgba(0, 0, 0, 0.374);
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.7rem;
    font-weight: bolder;
    transition:all .5s ease-in;
    position: absolute;
    right: 0;
    margin-right: 80px;
    transform: translate(-50%);
    margin-top: 50px;
    padding: 10px;

}
.more:hover {
    color: black;
    
    
}
.more span {
    display: block;
    position: absolute;
    background-color: #0151E5;
}
.more span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s;
    

}
.more:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .3s;
}


.more span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;

}
.more:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s;
}


.more span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s;
    transition-delay: .3s;


}
.more:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .3s;
    transition-delay: .3s;

}


.more span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
    transition-delay: .3s;

}
.more:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s;
    transition-delay: .3s;

}

/* 버튼 디자인 끝 */

/* 로그인 페이지 시작 */
#login_container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50% , -75%);
}

.login_title {
    margin-bottom: 30px;
    margin-top: 30px;
}

.login_title h2 {
    font-weight: bolder;
}

.id_password input:nth-of-type(2){
    margin-top: 10px;
}

.id_password input {
    padding: 20px;
    opacity: 0.5;
    width: 15%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}

.pass_find {
    width: 18%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login_join button {
    padding: 20px;
    width: 15%;
    border: 1px solid #0151E5;
}

.login_join button:nth-of-type(2) {
    margin-top: 10px;
    background-color: white;
    color: #5F00A1;
    font-size: 1rem;
}

.btn_join {
    background-color: white;
    margin-top: 10px;
}

.btn_login {
    background-color: #0151E5;
    color: white;
    font-size: 1rem;
}

.btn_login:hover {
    cursor: pointer;
}

.btn_join:hover {
    cursor: pointer;
}

.pass_find a{
    text-decoration: none;
    color: black;
}

/* 회원가입 페이지 시작 */

#join-container {
    margin: 0 auto;
    transform: translateY(40%);
    width: 50%;
    height: 600px;
    text-align: center;
    
}
#join-container > div > div.info-form > table {
    line-height: 80px;

}

#join-container .join .join-title h2 {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.join-input {
    width: 80%;
}
.join-input input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    padding: 20px;
    opacity: 0.5;
}
.join-input-id input{
    width: 41.5%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    padding: 20px;
    opacity: 0.5;
}
.join select {
    padding: 20px;
    opacity: 0.5;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
 
.submit button {
    padding: 20px;
    border: 1px solid #0151E5;
    width: 50%;
}

.ubmit button:nth-of-type(2) {
    margin-top: 10px;
    background-color: white;
    color: #5F00A1;
    font-size: 1rem;
}

.join-submit {
    background-color: white;
    margin-top: 10px;
    width: 50%;
    transition: all .3s;
}

.join-submit:hover {
    cursor: pointer;
    background-color: #0151E5;
    color: white;
}

.submit .login{
    padding-bottom: 50px;
    color: #0151E5;
}
#userGd {
    width: 100%;
}
/* information section*/
.information-container {
    font-family: 'Happiness-Sans-Title';
    width: 1300px;
    height: 900px;

}

.information-container h2{
    font-size: 45px;

}



.information-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information-title {
    text-align: center;
    margin-bottom: 100px;
}
.information-img {
    width: 500px;
    height: 300px;
}
.information-img img {
    width: 100%;
    height: 100%;
}

.information-content{
	font-family: 'Happiness-Sans-Title';
    font-size: large;
	width: 600px;
}

/* information section 끝 */

/* introduce 시작 */
@keyframes visual-slider {
    8.3% {
        transform: translateX(0%);

    }
    16.6% {
        transform: translateX(-100%);
    }
    24.9% {
        transform: translateX(-100%);
    }
    33.2% {
        transform: translateX(-200%);
    }
    41.5% {
        transform: translateX(-200%);
    }
    49.8% {
        transform: translateX(-300%);
    }
    58.1% {
        transform: translateX(-300%);
    }
    66.4% {
        transform: translateX(-400%);
    }
    74.7% {
        transform: translateX(-400%);
    }
    83% {
        transform: translateX(-500%);
    }
    91.3% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes i-go {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(40%);
    }
}
#introduce-wrapper {
    font-family: 'Happiness-Sans-Title';
    height: 1400px;
}
#introduce-wrapper .introduce-container .introduce-title {
    text-align: center;
    display: flex;
    width: 8%;
    align-items: center;


}
.introduce-title i{
    font-size: 2.5rem;
    margin-top: 10px;
    animation: i-go infinite 3s;
    transition: all .3s;
}
.introduce-title h2{
    font-size: 40px;
}

.introduce-content {
    text-align: center;
    font-size: 18px;
    
}

.visual-container {
    height: 34vw;
    border-radius: 125px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.visual-img {
    height: 100%;
    width: 100%;
    animation: visual-slider  35s infinite;
}
.introduce-font {
    text-align: center;
}
.introduce-img:nth-of-type(1) {
    object-fit: cover;
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
}
.introduce-img img:nth-of-type(1) {
    object-fit: cover;
    
    height: 100%;
    width: 100%;
}
.introduce-img:nth-of-type(2) {
    right: -100%;
    position: absolute;
    width: 100%;
    height: 100%;

}
.introduce-img img:nth-of-type(2) {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.introduce-img:nth-of-type(3) {
    right: -200%;
    position: absolute;
    width: 100%;
    height: 100%;

}
.introduce-img img:nth-of-type(3) {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.introduce-img:nth-of-type(4) {
    right: -300%;
    position: absolute;
    width: 100%;
    height: 100%;

}
.introduce-img img:nth-of-type(4) {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.introduce-img:nth-of-type(5) {
    right: -400%;
    position: absolute;
    width: 100%;
    height: 100%;

}
.introduce-img img:nth-of-type(5) {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.introduce-img:nth-of-type(6) {
    right: -500%;
    position: absolute;
    width: 100%;
    height: 100%;

}
.introduce-img img:nth-of-type(6) {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* introduce 끝 */
/* card 부분 시작 */
@keyframes country-font {
    
}
#country {
    top: 80%;
    height: 1050px;
}

#country > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}
.container {
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;    
}
.container .card {
    position: relative;
    border-radius: 5%;
    max-width: 350px;
    height:215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;

}
.container .card:hover {
    height: 450px;
}
.container .crad .imgBx {
    position: relative;
    width: 350px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);

}
.container .card .imgBx img {
    width: 310px;
    border-radius: 5%;
    height: 180px;
}
.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}
.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: .3s;
    
}
.content-detail{
	font-family: 'Happiness-Sans-Title';
}

/* card 부분 끝 */



/* footer 부분 */
footer {
    background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1;
    color: white;

}
.footer-title h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.footer-font {
    line-height: 25px;
}
footer hr {
    width: 100%;
    margin-top: 20px;
}
.footer-icon i{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    color: #fff;
    transition: all .3s;

}
.footer-icon a:hover i{
    cursor: pointer;
    transform: translateY(-25%);
}

/* footer 부분 끝 */

/* user 부분 시작*/
.user-wrapper {
    display: flex;
    height: 1300px;
    justify-content: center;
    align-items: center;
    line-height: 80px;
    font-weight: bold;
    width: 1000px;
    font-size: 1.3rem;
    
}
.user-wrapper td p {
    line-height: 21px;
}
.user-wrapper i{
    font-size: 4rem;

}
.user-wrapper input {
    margin-left: 40px;
    width: 100%;
    padding: 16px;
}
.user-wrapper textarea {
    margin-left: 40px;
    width: 100%;
    height: 100%;
    padding: 16px;
    resize: none;
}
.user-wrapper td p {
    margin-left: 40px;
}
.btn-data {
    padding: 20px;
    width: 15%;
    border: 1px solid #0151E5;
}

.btn-data {
    background-color: white;
    margin-top: 25px;
    width: 100%;
    transition: all .3s;
}

.btn-data:hover {
    cursor: pointer;
    background-color: #0151E5;
    color: white;
}

.user-profile{
	color: #0151E5;
}
.user-profile:hover{
	cursor: pointer;
}
/* user 부분 끝*/
/* 팝업 부분 시작 */
.modal{    
    width: 100%;    
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    display:none;
}

.content{
    margin: auto;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: white;
}
.content button {
    position: relative;
    width: 100%;
    margin:  0 auto;
    margin-right: 600px;
    margin-top: 600px;
}
.close {
    background-color: white;
    margin-bottom: ;
    width: 100%;
    transition: all .3s;
    border: 1px black solid;
    padding: 20px;

}

.close:hover {
    cursor: pointer;
    background-color: #0151E5;
    color: white;
}

/* 팝업 부분 끝 */